.billing-container {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.billing-plan-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.billing-plan-current {
  background-color: var(--highlight-color);
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.billing-plan-current button {
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.billing-plan-current button:hover {
  background-color: #ff6868;
  color: #fff;
}

.billing-plans {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.billing-plan-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: var(--highlight-color);
  padding: 1rem 2rem;
  gap: 0.5rem;
  border-radius: 8px;
  width: 40%;
}

.billing-plan-item form {
  width: 100%;
}

.billing-plan-item button {
  width: 100%;
  margin-block: 0.3rem;
  align-self: center;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.billing-plan-item button:hover {
  background-color: #4caf50;
  color: #fff;
}

.billing-item-disabled {
  pointer-events: none;
  opacity: 0.5; /* Optional: To visually indicate that the div is disabled */
}

.billing-account-container {
  width: 30%;
  background-color: var(--highlight-color);
  padding: 1rem;
}
