body {
  background-color: #3c3c4e;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #0b0b22;
}

.main {
  flex: 1;
  padding: 20px;
}

.section {
  background-color: #3c3c4e;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 8px;
  color: white;
}

.section h2 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 24px;
  font: bold;
  padding-bottom: 6px;
}

.section h3 {
  margin-top: 0;
  padding-bottom: 6px;
}

.section p {
  margin: 10px 0;
}

.button-group button {
  background-color: #0b0b22;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.button-group button:last-child {
  margin-right: 0;
}

.image-container img {
  max-width: 200px;
}

.guidelines ul {
  list-style-type: disc;
  padding-left: 20px;
}

.guidelines ul li {
  margin: 8px 0px 8px 0px;
}

.guidelines .image-container img {
  max-width: 100%;
  /* margin-top: ; */
}
