.customizer-preview {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-block: 0.5rem;
}

.customizer-preview > h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-block: 1rem 1.5rem;
}

.customizer-preview-form {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customizer-preview-form-app {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 60%;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-block: 1rem;
  position: relative;
  overflow: auto;
  height: 100%;
  scrollbar-width: thin;
}

.customizer-preview-form-app > h1 {
  text-align: center;
  margin-block: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.customizer-preview-form-app > .close-form-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customizer-preview-form-app > .close-form-btn:hover {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.customizer-preview-form-item {
  width: 100%;
  margin-bottom: 0.5rem;
}

.customizer-preview-form-item > label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.customizer-preview-form-item input[type="text"],
.customizer-preview-form-item textarea {
  width: 100%;
  resize: vertical;
  padding: 0.3rem;
}

.customizer-preview-form-item input[type="file"],
.customizer-preview-form-attributes input[type="radio"] {
  display: none;
}

.customizer-preview-form-item .upload-image {
  min-width: 4rem;
  height: 4rem;
  border-radius: 5px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.preview-form-review-preview-image {
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  margin-inline: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
  scrollbar-width: thin;
}

.preview-form-review-preview-image > img {
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
  object-fit: cover;
  border-radius: 8px;
}

.customizer-preview-form-attributes {
  display: flex;
  width: fit-content;
  align-items: center;
  position: relative;
  gap: 0.3rem;
  margin-bottom: 2rem;
}

.customizer-preview-form-attributes label {
  border: 1px solid black;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-block: 0.3rem;
}

.customizer-preview-form-attributes input[type="radio"]:checked + label {
  background-color: black;
}

.customizer-preview-form-attributes
  input[type="radio"]:checked
  + label
  > svg
  > circle {
  fill: white;
}

.customizer-preview-form-attributes .label {
  position: absolute;
  bottom: -1.2rem;
}
.bnpr-review-form-slider-container .start-label {
  left: 0;
}

.customizer-preview-form-attributes .mid-label {
  left: 50%;
  transform: translateX(-50%);
}
.customizer-preview-form-attributes .end-label {
  right: 0;
}

.customizer-preview-submit-form {
  font-size: 1rem;
  width: 100%;
  margin-block: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}
.customizer-preview-submit-form:hover {
  background-color: black;
  color: white;
}
/* form css ends here */

.customizer-preview-summary {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.customizer-preview-summary > div {
  width: 40%;
}

.customizer-preview-summary-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customizer-preview-summary-details .summary-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.customizer-preview-summary-details .summary-details h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.customizer-preview-summary-details .summary-ratings {
  width: 100%;
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
}

.customizer-preview-summary-details .summary-ratings > div {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  justify-content: center;
  gap: 0.3rem;
}

.customizer-preview-summary-details .summary-ratings > div > .bar {
  justify-self: flex-end;
  display: block;
  width: 60%;
  height: 10px;
  background-color: #ccc;
  border-radius: 15px;
}

.customizer-preview-summary-details .summary-ratings > div .inner-bar {
  display: block;
  height: 100%;
  background-color: black;
  border-radius: 15px;
}

.customizer-preview-summary-attributes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.customizer-preview-summary-attributes > h1 {
  font-size: 1.1rem;
}

.customizer-preview-summary-attributes .bar {
  height: 10px;
  width: 80%;
  background-color: #ccc;
  border-radius: 15px;
  margin-block: 0.5rem;
  position: relative;
}

.customizer-preview-summary-attributes .inner-bar {
  border-radius: 15px;
  width: 60%;
  height: 100%;
  background-color: black;
  position: relative;
}
.customizer-preview-summary-attributes .slider {
  display: block;
  background-color: black;
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -2px;
  left: calc(100% - 15px);
}

.customizer-preview-summary-attributes .label {
  position: absolute;
}

.customizer-preview-summary-attributes .mid-label {
  left: 40%;
}
.customizer-preview-summary-attributes .end-label {
  right: 0;
}

.customizer-preview-buttons {
  width: 80%;
  margin: 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 2px solid black;
  padding-block: 1rem;
}

.customizer-preview-buttons button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
}
.customizer-preview-buttons button:hover {
  background-color: black;
  color: white;
}

.customizer-preview-filter {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  gap: 0.5rem;
  padding: 0.5rem;
  margin-left: 10%;
}
.customizer-preview-filter-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.customizer-preview-filter-option {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  border-radius: 15px;
  border: 1px solid black;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
}
.customizer-preview-filter-option:hover polygon {
  stroke: white;
  fill: white;
}

.customizer-preview-filter-option:hover {
  background-color: black;
  color: white;
}

.customizer-preview-list {
  width: 80%;
  display: flex;
  margin: 1rem auto;
  flex-direction: column-reverse;
  gap: 1rem;
}

.customizer-preview-list-item {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.list-type-block {
  flex-direction: row;
}
.list-type-block > div {
  width: 50%;
}

.customizer-preview-list-item .review-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.customizer-preview-list-item .image-container {
  height: 4rem;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  display: flex;
  align-items: center;
  padding: 0.3rem;
  gap: 0.5rem;
}

.customizer-preview-list-item .image-container img {
  height: 100%;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.customizer-preview-page-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding-bottom: 1rem;
}
.customizer-preview-page-navigation > span {
  padding: 0.3rem 1rem;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.customizer-preview-page-navigation > span:hover {
  background-color: black;
  color: white;
}
