.settings-container {
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.settings-notification-container {
  background-color: white;
  padding: 1rem 2rem;
  color: black;
  position: fixed;
  top: 50%;
  border-radius: 5px;
  left: 25%;
  translate:calc(-100%);
}

.settings-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  border-bottom: 2px solid white;
}

.settings-navbar-container > ul {
  display: flex;
  gap: 0.8rem;
  align-self: flex-end;
  padding: 0;
}

.settings-navbar-container li {
  list-style: none;
  padding: 0.3rem 1rem;
  cursor: pointer;
  user-select: none;
  border-radius: 15px;
  transition: all 0.3s ease-in;
}

.settings-navbar-container .active-navbar-item {
  background-color: white;
  color: black;
}

.settings-btn {
  transition: all 0.3s ease-in;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.settings-btn:hover {
  background-color: #ccc;
}

.settings-body-container {
  height: 80vh;
  display: flex;
  margin: 1rem;
}

.settings-form-container {
  overflow: auto;
  position: relative;
  transition: all 0.3s ease-in;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  height: 100%;
  scrollbar-width: thin;

}

.settings-preview-container {
  width: 50%;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  overflow: auto;
  scrollbar-width: thin;
}

.settings-form-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 2px solid white;
  padding-left: 0.3rem;
}

.settings-form-item-col {
  border-left: 2px solid white;
  padding-left: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.settings-form-container label {
  font-weight: bold;
}

.settings-form-container input[type="number"],
.settings-form-container input[type="text"],
.settings-form-container select {
  padding: 0.5rem 1rem;
}

.settings-submit-button {
  position: absolute;
  right: 1rem;
}

.settings-attribute-container {
  background-color: #ccc;
  color: black;
  display: flex;
  gap: 1rem;
  padding-inline: 1rem;
  flex-wrap: wrap;
  margin-block: 1rem;
}

.settings-disable-attribute {
  opacity: 0.5;
  pointer-events: none;
}

.settings-attribute-container > div {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.settings-list-type {
  display: flex;
  gap: 3rem;
}

.settings-list-type span {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}