body {
  background-color: #3c3c4e;
  color: white;
}
.main h1 {
  margin: 4px 0px 16px 4px;
  padding-top: 0px;
  font-size: 30px;
  font: bold;
  padding-bottom: 6px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #0b0b22;
}

.main {
  flex: 1;
  padding: 20px;
}

.section {
  background-color: #3c3c4e;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 8px;
  color: white;
}

.section h2 {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 24px;
  font: bold;
  padding-bottom: 6px;
}

.section h3 {
  margin-top: 0;
  padding-bottom: 6px;
}

.section p {
  margin: 10px 0;
}

.button-group button {
  background-color: #0b0b22;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.button-group button:first-child {
  background: transparent;
  border-width: 0.5px;
  border-color: white;
}
.button-group button:last-child {
  border: none;
  margin-right: 0;
}

.image-container img {
  max-width: 200px;
}

.contact-icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  color: white;
}

.contact-icons .icon {
  background-color: #2e2d44;
  padding: 12px 25px;
  border-radius: 12px;
  margin: 1rem;
}

.contact-icons .icon img {
  width: 24px;
  height: 24px;
}
