.review-chart-container {
  background-color: #48475a; /* Dark background matching original */
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  width: 400px; /* Increased width */
  height: 310px; /* Increased height */
  margin-left: 3rem;
}

.chart-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.chart-count {
  font-size: 36px;
  margin: 16px 0px 8px 0px;
  font-weight: bold;
}

.chart-subtitle {
  font-size: 14px;
  margin-bottom: 15px;
  color: #cfcfcf;
}

canvas {
  margin-top: 10px;
}
