{{ 'review-section-sliders.css' | asset_url | stylesheet_tag }}

<div class="review-section-sliders-container">

    <div>100% people will recommend this</div>

  <div>
    <div class="bar">
      <div class="inner-bar">
        <div class="slider"></div>
        <div class="label start-label">Start</div>
        <div class="label position-label">Position</div>
      </div>
      <div class="label end-label">End</div>
    </div>
  </div>
  
  <div>
    <div class="bar">
      <div class="inner-bar">
        <div class="slider"></div>
        <div class="label start-label">Start</div>
        <div class="label position-label">Position</div>
      </div>
      <div class="label end-label">End</div>
    </div>
  </div>
</div>
