<div class="bnpr-review-notification-container">
    <div class="bnpr-review-notification-app">
        <h3>No Notification</h3>
    </div>
</div>

{% schema %}
{
"name": "Review Notification",
"target":"body",
"stylesheet": "bnpr_review-notification.css",
"settings": []
}
{% endschema %}