<div class="bnpr-review-section-container" id="brad-nextgen-product-review" data-bnpr-shop="{{ shop.permanent_domain }}"
  data-bnpr-productId="{{ product.id }}" data-bnpr-backendApi="https://dot-floating-equipped-care.trycloudflare.com"
  data-bnpr-starColor="{{ block.settings.color }}">
  <h1>Customer Reviews</h1>
  <div class="bnpr-review-section-app">
    <div>
      {% render 'bnpr_review-section-summary', starColor: block.settings.color %}
      {% render 'bnpr_review-section-ratings', starColor: block.settings.color %}
    </div>
    {% render 'bnpr_review-section-sliders' %}
  </div>
  {% render 'bnpr_review-section-list', starColor: block.settings.color %}
</div>

{% schema %}
{
"name": "Review Section",
"target": "section",
"stylesheet": "bnpr_review-section.css",
"javascript": "bnpr_review-section.js",
"settings": [
{
"type": "product",
"id": "product",
"label": "Product",
"autofill": true
},
{
"type": "color",
"id": "color",
"label": "Star Color",
"default": "#FFD700"
},
{
"type": "text",
"id": "slider-qualilty-title",
"label": "Quality Slider Title",
"default": "Quality"
},
{
"type": "text",
"id": "slider-quality-start",
"label": "Quality Slider Start Value",
"default": "Poor"
},
{
"type": "text",
"id": "slider-quality-end",
"label": "Quality Slider End Value",
"default": "Excellent"
},
{
"type": "text",
"id": "slider-sizing-title",
"label": "Sizing Slider Title",
"default": "Sizing"
},
{
"type": "text",
"id": "slider-sizing-start-value",
"label": "Sizing Slider Start Value",
"default": "Runs Small"
},
{
"type": "text",
"id": "slider-sizing-mid-value",
"label": "Sizing Slider Mid Value",
"default": "True to Size"
},
{
"type": "text",
"id": "slider-sizing-end-value",
"label": "Sizing Slider End Value",
"default": "Runs Large"
}
]
}
{% endschema %}