<div class="bnpr-review-section-container" id="brad-nextgen-product-review" 
  data-bnpr-shop="{{ shop.permanent_domain }}"
  data-bnpr-productId="{{ product.id }}">
  <h1>Customer Reviews</h1>
  <div class="bnpr-review-section-app">
    <div>
      {% render 'bnpr_review-section-summary' %}
      {% render 'bnpr_review-section-ratings' %}
    </div>
    {% render 'bnpr_review-section-attributes' %}
  </div>
  {% render 'bnpr_review-section-list' %}
</div>

{% schema %}
{
"name": "Review Section",
"target": "section",
"stylesheet": "bnpr_review-section.css",
"javascript": "bnpr_review-section.js",
"settings": []
}
{% endschema %}