{% comment %} backend api link can be removed afterwards after constant link {% endcomment %}
<script>
  window.appSettings = {
    backendApi: "https://confused-path-enjoyed-edward.trycloudflare.com"  
  }
</script>

<div class="review-section-container">
  <h1>Customer Reviews</h1>
  <div class="review-section-app">
    <div>
      {% render 'review-section-summary', starColor: block.settings.color %}
      {% render 'review-section-ratings', starColor: block.settings.color %}
    </div>
    {% render 'review-section-sliders' %}
  </div>
  {% render 'review-section-list', starColor: block.settings.color %}
</div>

<script>
  const fetchSummary = async () => {
    const body = new FormData()
    body.append('action', "FETCH_SUMMARY")
    body.append('shop', '{{ shop.permanent_domain }}')
    body.append('productId', '{{ product.id }}')
    const response = await fetch(window.appSettings.backendApi + "/api/reviews", {
      method: "POST",
      body
    })

    const { data } = await response.json()
    console.log(data)
    if (data?.summary?._count?.id !== 0) {
      document.querySelector('.review-section-app').style.display = "flex"
      displaySummaryDetails(data)
      displaySummaryRatings(data)
      displaySliders(data)
      document.querySelector(".filter-btn").style.display = "block";
      document.querySelector(".review-section-list-buttons").style.justifyContent = "space-between"
      pageNavigationSetup(1, data?.summary?._count?.id)
    }
  }

  fetchSummary()
</script>

{% schema %}
{
"name": "Review Section",
"target": "section",
"stylesheet": "review-section.css",
"settings": [
{
"type": "product",
"id": "product",
"label": "Product",
"autofill": true
},
{
"type": "color",
"id": "color",
"label": "Star Color",
"default": "#FFD700"
},
{
"type": "text",
"id": "slider-qualilty-title",
"label": "Quality Slider Title",
"default": "Quality"
},
{
"type": "text",
"id": "slider-quality-start",
"label": "Quality Slider Start Value",
"default": "Poor"
},
{
"type": "text",
"id": "slider-quality-end",
"label": "Quality Slider End Value",
"default": "Excellent"
},
{
"type": "text",
"id": "slider-sizing-title",
"label": "Sizing Slider Title",
"default": "Sizing"
},
{
"type": "text",
"id": "slider-sizing-start-value",
"label": "Sizing Slider Start Value",
"default": "Runs Small"
},
{
"type": "text",
"id": "slider-sizing-mid-value",
"label": "Sizing Slider Mid Value",
"default": "True to Size"
},
{
"type": "text",
"id": "slider-sizing-end-value",
"label": "Sizing Slider End Value",
"default": "Runs Large"
}
]
}
{% endschema %}