.review-block-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.review-block-container div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}