.bnpr-review-form-container {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.bnpr-review-form-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fefefe;
  height: 90%;
  width: 95%;
  overflow: auto;
  position: relative;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.bnpr-review-form-app::-webkit-scrollbar {
  width: 0.8rem;
}

.bnpr-review-form-app::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.bnpr-close-form-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.bnpr-close-form-btn:hover,
.bnpr-close-form-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bnpr-review-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.bnpr-review-form > div {
  width: 100%;
}

/* text fields css */
.bnpr-review-form label {
  display: block;
  font-size: 2rem;
  color: black;
}

.bnpr-review-form input[type="text"],
.bnpr-review-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.5rem;
  outline: none;
}

.bnpr-review-form textarea {
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

.bnpr-review-form [type="text"]:focus,
.bnpr-review-form textarea:focus-visible {
  box-shadow: none;
  outline: none;
  border: 2px solid black;
}

/* star rating css */
.bnpr-review-form-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bnpr-review-form-rating .bnpr-star-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.bnpr-review-form-rating .bnpr-star-container label {
  display: flex;
  align-items: center;
}

.bnpr-review-form-rating .bnpr-star-container .bnpr-star {
  cursor: pointer;
}

.bnpr-review-form-rating .bnpr-star-container input[type="radio"] {
  display: none;
}

/* image field css */
.bnpr-review-form-image > div {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.bnpr-review-form-image #bnpr-review-upload-image + label {
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
  box-shadow:
  rgba(0, 0, 0, 0.16) 0px 3px 6px,
  rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bnpr-review-form-image .bnpr-image-preview {
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-bottom: 0.5rem;
  border-radius: 8px;
}

.bnpr-review-form-image .bnpr-image-preview::-webkit-scrollbar {
  height: 0.8rem;
}

.bnpr-review-form-image .bnpr-image-preview::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.bnpr-review-form-image .bnpr-image-preview > div {
  min-width: 8rem;
  max-width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* for fallback */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}

.bnpr-review-form-image .bnpr-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bnpr-review-form-image .bnpr-image-preview .bnpr-review-image-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.6rem;
  color: #ff0000;
}

.bnpr-review-submit-btn {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-block: 1rem;
}

.bnpr-review-submit-btn:hover {
  background-color: black;
  color: white;
}

.bnpr-loader {
  display: none;
  position: absolute;
  left: 45%;
  top: 50%;
  width: 50px !important;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: black;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.bnpr-disabled-div {
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
}

@media screen and (min-width: 480px) {
  .bnpr-review-form-app {
    width: 50%;
    border-radius: 8px;
  }

  .bnpr-close-form-btn {
    right: 2rem;
    top: 2rem;
  }

  .bnpr-loader {
    left: 50%;
  }
}


.bnpr-review-form-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.bnpr-review-form-slider input[type="radio"] {
  display: none;
}

.bnpr-review-form-slider input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}
.bnpr-review-form-slider input[type="radio"]:checked + label svg > circle {
  fill: white;
}

.bnpr-review-form-slider-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: relative;
  margin-bottom: 3rem;
}

.bnpr-review-form-slider-container label {
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.1rem 2rem;
}

.bnpr-review-form-slider-container .bnpr-label {
  position: absolute;
  bottom: -3rem;
}
.bnpr-review-form-slider-container .bnpr-start-label {
  left: 0;
}
.bnpr-review-form-slider-container .bnpr-mid-label {
  left: 50%;
  transform: translateX(-50%);
}
.bnpr-review-form-slider-container .bnpr-end-label {
  right: 0;
}

@media screen and (min-width: 480px) {
  .bnpr-review-form-slider-container label {
    padding: 0.3rem 3rem;
  }
}
