.review-form-container {
  /* display: none; */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.review-form-app {
  overflow: auto;
  background-color: #fefefe;
  width: 60%;
  height: 100vh;
  margin-inline: auto;
  padding: 1rem 5rem;
  position: relative;
  top: 0;
}

.review-form-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.review-form-close > img {
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

.review-form-close > img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-form label {
  display: block;
  font-size: 2rem;
  color: black;
}

.review-form input[type="text"],
.review-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.5rem;
  outline: none;
}

.review-form [type="text"]:focus,
.review-form textarea:focus-visible {
  box-shadow: none;
  outline: none;
  border: 2px solid black;
}

.review-form textarea {
  resize: vertical;
  font-family: inherit;
}

.review-form .review-form-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review-form .review-form-rating .star-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.review-form .review-form-rating .star-container label {
  display: flex;
  align-items: center;
}

.review-form .review-form-rating .star-container .star {
  cursor: pointer;
}

.review-form .review-form-rating .star-container input[type="radio"] {
  display: none;
}

.review-form .review-form-image > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-form .review-form-image #review-upload-image + label {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.review-form .review-form-image .image-preview {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.review-form .review-form-image .image-preview > div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.review-form .review-form-image .image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-form .review-form-image .image-preview .review-image-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1rem;
  font-size: 1rem;
  color: #ff0000;
}
.review-form .btn-submit-review {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-block: 1rem;
}

.review-form .btn-submit-review:hover {
  background-color: black;
  color: white;
}
