.review-form-container {
  /* display: none; */
  width: 60%;
  height: 100%;
  margin: auto;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  z-index: 10;
}

.review-form-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.review-form-close > img {
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}

.review-form-close > img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.review-form-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  display: block;
  font-weight: bold;
  font-size: 2rem;
}

.review-form-container input[type="text"],
.review-form-container textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.8rem;
  outline: none;
}

.review-form-container [type="text"]:focus,
.review-form-container textarea:focus-visible {
  box-shadow: none;
  outline: none;
  border: 1px solid black;
}

textarea {
  resize: vertical;
}

.star-rating-input {
  display: flex;
  align-items: baseline;
  gap: 0.3rem;
}

.star-rating-input input[type="radio"] {
  display: none;
}

.star-rating-input label {
  font-size: 3rem;
  color: #ccc;
  cursor: pointer;
}

.star-rating-input label.selected {
  color: #ffcc00;
}

.btn-submit-review {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-block: 1rem;
}

.btn-submit-review:hover {
  background-color: black;
  color: white;
}

.review-upload-button {
  width: 100px;
  height: 100px;
  padding: 3rem;
  border-radius: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.review-upload-button:hover {
  background-color: #f7f7f7;
}

.review-upload-button {
  background-color: #f7f7f7;
}

.review-image-preview {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.review-image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  font-size: 16px;
  color: #ff0000;
}
