.review-section-ratings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; 
}

.review-section-ratings-container > div {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.8rem;
}

.review-section-ratings-container .star-with-num,
.review-section-ratings-container .star-with-num .star {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 2rem;
}

.review-section-ratings-container .bar {
  width: 16rem;
  height: 1rem;
  background-color: #eee;
  border-radius: 10px;
}
.review-section-ratings-container .bar .inner-bar {
  height: 100%;
  background-color: #333;
  border-radius: 10px;
  display: block;
  width: 0%;
}

.review-section-ratings-container .val-count {
  font-size: 2rem;
}