.review-section-ratings-container {
  width: 80%;
  display: flex;
  justify-content: center;
}

.inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.inner-container > div {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-section-ratings-container .star-with-num,
.review-section-ratings-container .star-with-num .star {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 2rem;
  min-width: 3rem;
}

.review-section-ratings-container .bar {
  flex: 1;
  height: 1rem;
  background-color: #eee;
  border-radius: 10px;
}

.review-section-ratings-container .bar .inner-bar {
  height: 100%;
  background-color: #333;
  border-radius: 10px;
  display: block;
  width: 0%;
}

.review-section-ratings-container .val-count {
  font-size: 2rem;
  min-width: 3rem;
  text-align: right;
}
