.review-section-container {
  width: 100%;
  /* height: 100%; */
}

.review-section-container > h1 {
  text-align: center;
}

.review-section-app {
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding-bottom: 5rem;
  display: none;
}

.review-section-app > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

@media screen and (min-width: 480px) {
  .review-section-app {
    flex-direction: row;
    align-items: flex-start;
    padding-block: 1rem;
  }

  .review-section-app > div {
    width: 40%;
  }
}
