.review-form-container {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.review-form-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: #fefefe;
  height: 90%;
  width: 95%;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.review-form-app::-webkit-scrollbar {
  display: none;
}

.review-form-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.review-form-close:hover,
.review-form-close:focus {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.review-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.review-form > div {
  width: 100%;
}

/* text fields css */
.review-form label {
  display: block;
  font-size: 2rem;
  color: black;
}

.review-form input[type="text"],
.review-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1.5rem;
  outline: none;
}

.review-form textarea {
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

.review-form [type="text"]:focus,
.review-form textarea:focus-visible {
  box-shadow: none;
  outline: none;
  border: 2px solid black;
}

/* star rating css */
.review-form .review-form-rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review-form .review-form-rating .star-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.review-form .review-form-rating .star-container label {
  display: flex;
  align-items: center;
}

.review-form .review-form-rating .star-container .star {
  cursor: pointer;
}

.review-form .review-form-rating .star-container input[type="radio"] {
  display: none;
}

/* image field css */
.review-form .review-form-image > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.review-form .review-form-image #review-upload-image + label {
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.review-form .review-form-image .image-preview {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.review-form .review-form-image .image-preview > div {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* for fallback */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
}

.review-form .review-form-image .image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-form .review-form-image .image-preview .review-image-delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 1.6rem;
  font-size: 1.6rem;
  color: #ff0000;
}
.review-form .btn-submit-review {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-block: 1rem;
}

.loader {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 50px !important;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: black;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.review-form .btn-submit-review:hover {
  background-color: black;
  color: white;
}

.disabled-div {
  filter: blur(1px);
  pointer-events: none;
  user-select: none; 
}


@media screen and (min-width: 480px) {
  .review-form-app {
    width: 50%;
    border-radius: 8px;
  }

  .review-form-close {
    right: 2rem;
    top: 2rem;
  }

  .loader {
    left:50%;
  }
}
